body {
    margin: 0;
}

#input_image {
    margin: auto auto;
}

img {
    width: 100%;
}

#face-emoji {
    display: none;
}

#display {
    position: relative;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: saturate(500%) contrast(500%);
    }
}